STATIC_DIR="../client"
STRIPE_PUBLISHABLE_KEY="pk_test_51N8lsLDcUyKcM4LIF5dll7ccQipSzmHbMILHzNn4GgGqgm1WBk8PFI0Bznh171t339AHcKrYZtCubakr5pJMX2kT00lGEXvWQl"
STRIPE_SECRET_KEY="sk_test_51N8lsLDcUyKcM4LIgMa3viR7Rmm2ZkKblnpy4JBI9Es6Kjwo0iVXdUHR7cYq8338A3MYGFG3qVLRWakHp8zkl1OY009IjMzHbg"
